@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Inter", sans-serif;
  padding: 50px;
}

header {
  position: relative;
  z-index: 1000; /* Pastikan header berada di atas elemen lainnya */
  
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white; /* Atur warna latar belakang sesuai kebutuhan */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk efek visual */
  padding: 5px 0; /* Tambahkan padding untuk menghindari tumpang tindih */
}




.hamburger-menu {
  @apply my-2 block h-[2px] w-[30px] bg-dark;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.skill-list {
  @apply mx-4 max-w-[200px] py-4 opacity-60 grayscale
  transition duration-500 hover:opacity-100 hover:grayscale-0 lg:mx-6 xl:mx-8;
}